<?xml version="1.0" ?>
<launch>
  <arg name="model" default="$(find koala_description)/urdf/koala.xacro"/>
  <arg name="simulation" default="true"/>
  <arg name="rvizconfig" default="$(find koala_description)/conf/conf.rviz"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model) is_simulation:=$(arg simulation)"/>
 

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
